<div class="container_16">
  <%= render "hub/sidebar" %>
    <div class="grid_11 prefix_1" id="partial">
  	<header class="muted" id="event_full_name">
      	Event Full Name
      </header>
		    <div>
		    	<span class="overview-header">SMS Message</span><span class="muted" id="sms_remaining">(120 Remaining)</span>
		    	<table>
		    		<tr>
		    			<th>
		    				Schedule
		    			</th>
		    			<th>
		    				Preview
		    			</th>
		    			<th>
		    				Groups
		    			</th>
		    			<th>
		    			</th>
		    		</tr>
		    		<tr>
		    			<td>
		    				PLACEHOLDER DATE
		    			</td>
		    			<td>
		    				PLACEHOLDER PREVIEW
		    			</td>
		    			<td>
		    				PLACEHOLDER Groups
		    			</td>
		    			<td>
		    				<a>Edit</a>&nbsp;
		    				<a>Delete</a>
		    			</td>
		    		</tr>
		    	</table>
		    	<button class="submit">New</button>
		    </div>
		    <div>
		    	<span class="overview-header">Email Message</span>
		    	<table>
		    		<tr>
		    			<th>
		    				Schedule
		    			</th>
		    			<th>
		    				Preview
		    			</th>
		    			<th>
		    				Groups
		    			</th>
		    			<th>
		    			</th>
		    		</tr>
		    		<tr>
		    			<td>
		    				PLACEHOLDER DATE
		    			</td>
		    			<td>
		    				PLACEHOLDER PREVIEW
		    			</td>
		    			<td>
		    				PLACEHOLDER Groups
		    			</td>
		    			<td>
		    				<a>Edit</a>&nbsp;
		    				<a>Delete</a>
		    			</td>
		    		</tr>
		    	</table>
		    	<button class="submit">New</button>
		    </div>
    </div>
</div>
