<div class="container_16">
  <%= render "hub/sidebar" %>
  <div class="grid_11 prefix_1" id="partial">
		<header id="event_full_name">
    	Event Full Name
	  </header>
    <span class="overview-header">New SMS Message</span><span class="muted" id="sms_remaining">(120 Remaining)</span>
    <p>
  		<span class="label">End Date and Time:</span>
  		<div class="text-field">
  			<input type="text" placeholder="MM/DD/YY"/>
  		</div>
  	</p>
  	<p>
  		<span class="label">Message:</span>
  		<div class="text-area">
  			<textarea name="message" rows="5" wrap="virtual" id="message"></textarea>
  		</div>
  	</p>
  	<button class="submit">Schedule</button>
  </div>
</div>
