.container_16
  = render "hub/sidebar"
  #partial.grid_11.prefix_1
    %header#event_full_name
      Event Full Name
    .grid_5.suffix_1.alpha
      %section.overview-section
        %header.overview-header
          Event
        %div
          %span.label Date:
          MM/DD/YYYY - MM/DD/YYYY
          %hr
            %span.label Time:
            HH:MM - HH:MM
            %hr
              %span.label Host:
              Organization Name
              %hr
                %span.label Venue:
                Venue Name
                %hr
                  %span.label Address:
                  \#### Street Name Dr, Potomac, MD 20854
                  %hr
                    %span.label Description:
                    This is a description of our event. This is a description of our event. This is a description of our event.
                    %hr
      %section.overview-section
        %header.overview-header
          Messages
        %div
          %span.label Scheduled Message Blasts:
          %hr
            Type  |  Group  |  MM/DD/YYYY, HH:MM
            %hr
              %span.muted This is a preview of a blast. This is a preview of a blast. This is a preview of a blast. This is a preview of a blast.
              %hr
                Type  |  Group  |  MM/DD/YYYY, HH:MM
                %hr
                  %span.muted This is a preview of a blast. This is a preview of a blast. This is a preview of a blast. This is a preview of a blast.
                  %hr
      %section.overview-section
        %header.overview-header
          Flyer
        %div
          %span.label Required Fields:
          Phone
          %hr
            %span.label Optional Fields:
            Email
            %hr
              %span.label.muted Excluded Fields:
              %span.muted RSVP
        %section.overview-section
    .grid_5.omega
      %section.overview-section
        %header.overview-header
          Audience
        %div
          .grid_1.alpha.audience-num
            %a.num-block{:href => "#"}
              12
            Invited
          .grid_1.audience-num
            %a.num-block{:href => "#"}
              8
            %i.icon-ok
          .grid_1.omega.audience-num.suffix_2
            %a.num-block{:href => "#"}
              4
            %i.icon-remove
        %hr
          %div
            #social_groups_label.label.grid_1.alpha
              Groups:
            .grid_4.omega
              %ul
                %li.group-members
                  %a.group-members-link{:href => "#"}
                    Leaders
                %li.group-members
                  %a.group-members-link{:href => "#"}
                    Participants
                %li.group-members
                  %a.group-members-link{:href => "#"}
                    Admins
            %hr
      %section.overview-section
        %header.overview-header
          Social
        %div
          Nam sed mi velit. Cras venenatis purus in sem rutrum sagittis. Maecenas a magna nisl, vel tempus diam. Phasellus sed mauris ipsum. Suspendisse vestibulum libero vitae diam convallis malesuada. Integer sem diam, condimentum eu varius non, dictum nec urna. Mauris risus urna, suscipit a feugiat eget, tincidunt vel metus. Phasellus varius, velit ac tristique adipiscing, orci justo bibendum dolor, dictum malesuada justo velit et dui. Quisque vel augue suscipit velit laoreet elementum vitae in quam. Proin porta malesuada interdum. Duis viverra mi elit, vel tempor mi. Aliquam id leo vel tellus elementum ultrices ac eget turpis. Praesent malesuada vestibulum ornare. Proin blandit, neque ultricies blandit varius, urna erat dapibus est, rho...
