#sidebar.grid_4
  %header#event_hub_nav_header
    My Events
  %nav
    %ul
      %li.hub-nav
        %a.hub-nav-link.active{:href => "#"}
          Current
      %li.hub-nav
        %a.hub-nav-link{:href => "#"}
          Create New
= yield
