#sidebar.grid_4
  %header#event_hub_nav_header
    My Events
  %nav
    %ul
      %li.hub-nav
        %a{ :href =>  events_path, :class => "hub-nav-link #{request[:action] == "index" ? "active" : nil}" }
          Current
      %li.hub-nav
        %a{ :href =>  new_event_path, :class => "hub-nav-link #{request[:action] == "new" ? "active" : nil}" }
          Create New
= yield
