<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Event Hub | eventshare</title>
    </head>

    <body>
        <header id="page_header">
        	<img src="assets/img/logo.png" id="logo" />
            <nav>
            	<ul>
                	<li class="page-nav">
                    	Dashboard
                    </li>
                    <li class="page-nav">
                    	Settings
                    </li>
                    <li class="page-nav">
                    	Sign Out
                    </li>
                </ul>
            </nav>
        </header>
        <div class="container_16">
        	<div class="grid_4" id="sidebar">
            	<header id="event_hub_nav_header">
                	Event Hub
                </header>
                <nav>
                    <ul>
                        <li class="hub-nav">
                            Overview
                        </li>
                        <li class="hub-nav">
                            Event
                        </li>
                        <li class="hub-nav">
                            Audience
                        </li>
                        <li class="hub-nav">
                            Messages
                        </li>
                        <li class="hub-nav">
                            Social
                        </li>
                        <li class="hub-nav">
                            Flyer
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="grid_11 prefix_1">
            	<header>
                	Event Full Name
                </header>
                <div class="grid_5 suffix_1 alpha">
                	<section>
                    	<header>
                        	Event
                        </header>
                        <div>
                        	
                        </div>
                    </section>
                    
                	<section>
                    	<header>
                        	Messages
                        </header>
                        <div>
                        	
                        </div>
                    </section>
                    
                	<section>
                    	<header>
                        	Flyer
                        </header>
                        <div>
                        	
                        </div>
                    </section>
                </div>
                <div class="grid_5 omega">
                
                	<section>
                    	<header>
                        	Audience
                        </header>
                        <div>
                        	
                        </div>
                    </section>
                    
                	<section>
                    	<header>
                        	Social
                        </header>
                        <div>
                        	
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>
