%footer
  .container_16
    #info.footer_element
      \© eventshare 2012
    #social.footer_element
      %a{:href => "http://facebook.com/geteventshare", :target => "_blank"} Facebook
      \/
      %a{:href => "http://twitter.com/geteventshare", :target => "_blank"} Twitter
      \/
      %a{:href => "http://github.com/mrjordangoldstein/eventshare", :target => "_blank"} GitHub
      \/
      %a{:href => "mailto:eventshare@gmail.com", :target => "_blank"} Email
    #people.footer_element
      created by:
      %a{:href => "http://twitter.com/thetabyte", :target => "_blank"} J Goldstein
      \/
      %a{:href => "http://jhilmediadesign.com", :target => "_blank"} J Hilnbrand
      \/
      %a{:href => "mailto:norquist.jennifer@gmail.com", :target => "_blank"} J Norquist
      \/
      %a{:href => "http://twitter.com/jsquirrelz33", :target => "_blank"} J Searles
