%header#page_header
  #page_header_wrapper
    %a#logo{:href => "/"}
    %nav#page_nav
      %ul
        - if params[:controller] == "welcome"
          - %w{ overview features plans }.each do |n|
            %li.page-nav
              %a.page-nav-link{ :href => "##{n}" }
                = n
          %li.page-nav.add-margin
            %a.page-nav-link{ :href => "#start" }
              start
        - if user_signed_in?
          %li.page-nav
            %a.page-nav-link{:href => events_path }
              My Events
          %li.page-nav
            %a.page-nav-link{:href => "#"}
              Settings
          %li.page-nav
            = link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "page-nav-link"
        - else
          %li.page-nav
            %a.page-nav-link{:href =>  new_user_registration_path }
              Sign Up
          %li.page-nav
            %a.page-nav-link{:href =>  new_user_session_path }
              Sign In
