%header#page_header
  #page_header_wrapper
    %a#logo{:href => "#"}
    %nav#page_nav
      %ul
        %li.page-nav
          %a.page-nav-link{:href => "#"}
            My Events
        %li.page-nav
          %a.page-nav-link{:href => "#"}
            Settings
        %li.page-nav
          %a.page-nav-link{:href => "#"}
            Sign Out
