#sidebar.grid_4
  %header#event_hub_nav_header
    Event Hub
  %nav
    %ul
      %li.hub-nav
        %a.hub-nav-link.active{:href => "#"}
          Overview
      %li.hub-nav
        %a.hub-nav-link{:href => "#"}
          Event
      %li.hub-nav
        %a.hub-nav-link{:href => "#"}
          Audience
      %li.hub-nav
        %a.hub-nav-link{:href => "#"}
          Messages
      %li.hub-nav
        %a.hub-nav-link{:href => "social"}
          Social
      %li.hub-nav
        %a.hub-nav-link{:href => "#"}
          Flyer
= yield
