/* LESS */

/* COLORS */

$grey-dark: #333333;

$grey-light: #CCCCCC;

$blue: #0084A3;

$blue-light: #AFD2D8;

$tan: #D8C1A9;

$white: #ffffff;

/* TEXT */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

@mixin italic {
	 font-style: italic;
}
@mixin bold {
	font-weight: 700;
}
@mixin uppercase {
	text-transform: uppercase;
}

@mixin header {
	@include bold;
	@include uppercase;
}

@mixin big-grey {
	font-size: 30px;
	line-height: 32px;
	margin-bottom: 10px;
	@include uppercase;
	color: $grey-dark;
	@include bold;
}

@mixin slightly_big {
	font-size: 20px;
	line-height: 36px;
	@include bold;
	@include uppercase;
}

/* MAIN TEXT STYLES */

body {
	margin: 0px;
	font: {
		family: 'Open Sans', Arial, sans-serif;
		size: 12px;
		weight: 400;
	}
	line-height: 18px;
	color: $grey-dark;
}

#page_header {
	border-bottom: $grey-light solid 4px;
	margin-bottom: 10px;
	margin-top: 15px;
}

#page_header_wrapper {
	width: 960px;
	height: 60px;
	margin: {
		right: auto;
		left: auto;
	}
}

#logo {
	background-image: image-url('logo_main.png');
	background-repeat: no-repeat;
	height: 52px;
	width: 160px;
	display: block;
	float: left;
	&:hover {
		background-image: image-url('logo_main_mono.png');
	}
}

#sidebar {
	margin-right: -2px;
	padding-top: 20px;
}	

#partial {
	border-left: $grey-light solid 2px;
	padding-bottom: 20px;
}

#page_nav {
	float: right;
	margin-top: 40px;
}

.page-nav {
	list-style-type: none;
	float: left;
	margin-left: 20px;
}

.page-nav-link {
	font-size: 14px;
	@include header;
	color: $grey-dark;
	&:hover{
		color: $grey-light;
	}
}

#event_hub_nav_header {
	@include big-grey;
}

.hub-nav {
	padding-left: 0px;
}

.hub-nav-link {
	color: $grey-light;
	@include slightly_big;
	&:hover {
		color:$grey-dark;
	}
}

.active {
	color: $blue;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
}

#event_full_name {
	@include big_grey;
	padding-top: 20px;
}

.overview-section {
	margin-bottom: 10px;
}

.overview-header {
	@include slightly_big;
	color: $blue;
}

.label {
	@include bold;
	color: $grey-dark;
}

.muted {
	color: $grey-light !important;
	&:hover {
		color: $grey-dark !important;
	}
}

hr {
	visibility: hidden;
	margin: {
		top: 2px;
		bottom: 0px;
	}
}

.num-block {
	height: 40px;
	background-color: $grey-dark;
	@include slightly_big;
	color: $white;
	text-align: center;
	line-height: 40px;
	display: block;
	&:hover {
		background-color: $blue;
	}
}

.audience-num {
	@include bold;
	color: $grey-dark;
	text-align: center;
}

.group-members {
	float: left;
	margin: {
		right: 4px;
		left: 4px;
		bottom: 4px;
		top: 0px;
	}
}

.group-members-link {
	padding: 2px 4px 2px 4px;
	background-color: $grey-light;
	color: $grey-dark;
	&:hover {
		background-color: $blue;
		color: $white;
	}
}

#social_groups_label {
	float: left;
	padding-left: 0px;
}

footer {
	position: absolute;
	bottom: 0px;
	background-color: $grey-dark;
	color: $grey-light;
	width: 100%;
	@include uppercase;
	padding: 10px 0 10px 0;
}
